@model IEnumerable<Astronomic_Catalogs.Entities.PlanetarySystem>

<div class="planetarySystemsVisualization">
    <div class="planetaryAxisDescriptionWrapper">
        <svg class="planetaryAxisDescription"></svg>
    </div>

    <svg class="planetaryAxis"></svg>

    @foreach (var system in Model)
    {
        await Html.RenderPartialAsync("_PlanetarySystemVisualization", system);
    }
</div>

