@model IEnumerable<Astronomic_Catalogs.Models.Connection.ActualDate>

@{
    ViewData["Title"] = "Administrations";
}

<h1>Administrations</h1>

@try
{
    @await Html.PartialAsync("~/Areas/Admin/Views/HomeAdmin/_ActualDate.cshtml", Model)
}
catch (Exception ex)
{
    @if (!string.IsNullOrEmpty(ex.Message))
    {
        <p hidden style="color:red;">ex.Message</p>
    }
}
