@model IEnumerable<Astronomic_Catalogs.Models.Connection.ActualDate>

@{
    ViewData["Title"] = "Administrations";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Administrations</h1>

@try
{
    @await Html.PartialAsync("~/Areas/Admin/Views/HomeAdmin/_ActualDate.cshtml", Model)
}
catch (Exception ex)
{
    <p style="color:red;"></p>
}
