@model ErrorViewModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 p-3">
    <h1 class="text-danger">403 - Forbidden</h1>
    <p>You do not have permission to access this resource.</p>

    @if (Model.ShowRequestId)
    {
        <p class="text-muted mt-4">
            <small>
                Please provide this <strong>Request ID</strong> to support if needed: <code>@Model.RequestId</code>
            </small>
        </p>
    }

    @if (Model.IsDevelopment)
    {
        <pre>@Html.Raw(Model.StackTrace)</pre>
        <p>@Html.Raw(Model.Path)</p>
        <p>@Html.Raw(Model.Source)</p>
    }

    <a href="/" class="btn btn-primary mt-5">Go to Home</a>
</div>