<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        (function() {
            if (localStorage.getItem("theme") === "dark") {
                document.documentElement.style.display = "none";
                document.documentElement.style.backgroundColor = "#121212";
            };
        })();
    </script>
    @* Solving the white flash of unstyled content (FOUC) problem, but it didn't work.  *@      
    @*<style>
        html.dark-theme, body.dark-theme {
            background-color: #121212;
        }
    </style> *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astronomic_Catalogs</title>
    <script type="importmap"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/less/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/less/themes.min.css" asp-append-version="true" />
    <script src="~/lib/signalr/signalr.min.js"></script>
</head>
<body>
    <header class="toFixLayoutHeader">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Astronomic Catalogs</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Telescopes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="" asp-controller="" asp-action="">Field of View Calculator</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Astronomic сatalogs
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Planets" asp-controller="PlanetsCatalog" asp-action="Index">Planets</a></li>
                                <li><a class="dropdown-item" asp-area="Catalogs" asp-controller="NGCICOpendatasofts" asp-action="Index">NGC/IC Catalogs</a></li>
                                <li><a class="dropdown-item" asp-area="Catalogs" asp-controller="CollinderCatalogs" asp-action="Index">Collinder Catalog</a></li>
                                <li><a class="dropdown-item" asp-area="Catalogs" asp-controller="Constellations" asp-action="Index">Constellations</a></li>
                                <li><a class="dropdown-item" asp-area="Catalogs" asp-controller="NameObjects" asp-action="Index">Objects Name</a></li>
                                <li><a class="dropdown-item" asp-area="Catalogs" asp-controller="SourceTypes" asp-action="Index">Source Types</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("OwnerAdministratorPower"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-dark" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">Admin Panel</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="RoleClaims" asp-action="Index">Role Claims</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="UserClaims" asp-action="Index">User Claims</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="UserLogins" asp-action="Index">User Logins</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="UserTokens" asp-action="Index">User Tokens</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="main-RenderBody-container px-1 px-sm-1 px-md-2 px-lg-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Astronomic Catalogs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
    <script src="~/js/theme.min.js" asp-append-version="true"></script>
    @* <script src="~/js/AstroTableFilters.min.js" asp-append-version="true"></script> *@
    <script src="~/js/AstroTableFilters.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
