@model Astronomic_Catalogs.ViewModels.NGCICViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h3>NGC/IC catalog.</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NGC_IC" class="control-label"></label>
                <input asp-for="NGC_IC" class="form-control" />
                <span asp-validation-for="NGC_IC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubObject" class="control-label"></label>
                <input asp-for="SubObject" class="form-control" />
                <span asp-validation-for="SubObject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messier" class="control-label"></label>
                <input asp-for="Messier" class="form-control" />
                <span asp-validation-for="Messier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_UK" class="control-label"></label>
                <input asp-for="Name_UK" class="form-control" />
                <span asp-validation-for="Name_UK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherNames" class="control-label"></label>
                <input asp-for="OtherNames" class="form-control" />
                <span asp-validation-for="OtherNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NGC" class="control-label"></label>
                <input asp-for="NGC" class="form-control" />
                <span asp-validation-for="NGC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IC" class="control-label"></label>
                <input asp-for="IC" class="form-control" />
                <span asp-validation-for="IC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LimitAngDiameter" class="control-label"></label>
                <input asp-for="LimitAngDiameter" class="form-control" />
                <span asp-validation-for="LimitAngDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AngDiameter" class="control-label"></label>
                <input asp-for="AngDiameter" class="form-control" />
                <span asp-validation-for="AngDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectTypeAbrev" class="control-label"></label>
                <input asp-for="ObjectTypeAbrev" class="form-control" />
                <span asp-validation-for="ObjectTypeAbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectType" class="control-label"></label>
                <input asp-for="ObjectType" class="form-control" />
                <span asp-validation-for="ObjectType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObjectTypeFull" class="control-label"></label>
                <input asp-for="ObjectTypeFull" class="form-control" />
                <span asp-validation-for="ObjectTypeFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourceType" class="control-label"></label>
                <input asp-for="SourceType" class="form-control" />
                <span asp-validation-for="SourceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RA" class="control-label"></label>
                <input asp-for="RA" class="form-control" />
                <span asp-validation-for="RA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAscensionH" class="control-label"></label>
                <input asp-for="RightAscensionH" class="form-control" />
                <span asp-validation-for="RightAscensionH" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAscensionM" class="control-label"></label>
                <input asp-for="RightAscensionM" class="form-control" />
                <span asp-validation-for="RightAscensionM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightAscensionS" class="control-label"></label>
                <input asp-for="RightAscensionS" class="form-control" />
                <span asp-validation-for="RightAscensionS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DEC" class="control-label"></label>
                <input asp-for="DEC" class="form-control" />
                <span asp-validation-for="DEC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NS" class="control-label"></label>
                <input asp-for="NS" class="form-control" />
                <span asp-validation-for="NS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclinationD" class="control-label"></label>
                <input asp-for="DeclinationD" class="form-control" />
                <span asp-validation-for="DeclinationD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclinationM" class="control-label"></label>
                <input asp-for="DeclinationM" class="form-control" />
                <span asp-validation-for="DeclinationM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeclinationS" class="control-label"></label>
                <input asp-for="DeclinationS" class="form-control" />
                <span asp-validation-for="DeclinationS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constellation" class="control-label"></label>
                <input asp-for="Constellation" class="form-control" />
                <span asp-validation-for="Constellation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MajorAxis" class="control-label"></label>
                <input asp-for="MajorAxis" class="form-control" />
                <span asp-validation-for="MajorAxis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinorAxis" class="control-label"></label>
                <input asp-for="MinorAxis" class="form-control" />
                <span asp-validation-for="MinorAxis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionAngle" class="control-label"></label>
                <input asp-for="PositionAngle" class="form-control" />
                <span asp-validation-for="PositionAngle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppMag" class="control-label"></label>
                <input asp-for="AppMag" class="form-control" />
                <span asp-validation-for="AppMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppMagFlag" class="control-label"></label>
                <input asp-for="AppMagFlag" class="form-control" />
                <span asp-validation-for="AppMagFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BMag" class="control-label"></label>
                <input asp-for="BMag" class="form-control" />
                <span asp-validation-for="BMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VMag" class="control-label"></label>
                <input asp-for="VMag" class="form-control" />
                <span asp-validation-for="VMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JMag" class="control-label"></label>
                <input asp-for="JMag" class="form-control" />
                <span asp-validation-for="JMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HMag" class="control-label"></label>
                <input asp-for="HMag" class="form-control" />
                <span asp-validation-for="HMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KMag" class="control-label"></label>
                <input asp-for="KMag" class="form-control" />
                <span asp-validation-for="KMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurfaceBrightness" class="control-label"></label>
                <input asp-for="SurfaceBrightness" class="form-control" />
                <span asp-validation-for="SurfaceBrightness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HubbleOnlyGalaxies" class="control-label"></label>
                <input asp-for="HubbleOnlyGalaxies" class="form-control" />
                <span asp-validation-for="HubbleOnlyGalaxies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CstarUMag" class="control-label"></label>
                <input asp-for="CstarUMag" class="form-control" />
                <span asp-validation-for="CstarUMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CstarBMag" class="control-label"></label>
                <input asp-for="CstarBMag" class="form-control" />
                <span asp-validation-for="CstarBMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CstarVMag" class="control-label"></label>
                <input asp-for="CstarVMag" class="form-control" />
                <span asp-validation-for="CstarVMag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CstarNames" class="control-label"></label>
                <input asp-for="CstarNames" class="form-control" />
                <span asp-validation-for="CstarNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommonNames" class="control-label"></label>
                <input asp-for="CommonNames" class="form-control" />
                <span asp-validation-for="CommonNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NedNotes" class="control-label"></label>
                <input asp-for="NedNotes" class="form-control" />
                <span asp-validation-for="NedNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenngcNotes" class="control-label"></label>
                <input asp-for="OpenngcNotes" class="form-control" />
                <span asp-validation-for="OpenngcNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageNumber" class="control-label"></label>
                <input asp-for="PageNumber" class="form-control" />
                <span asp-validation-for="PageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageCount" class="control-label"></label>
                <input asp-for="PageCount" class="form-control" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
