@logarithmic-text: white;

//@planetary-system-text: #D01818;
//@planetary-system-text-desc: #F61C1C;
//@stars-text: white;
@planet-text: #E4E4E4;
//@planet-label-desc: #E4E4E4;

@page-background: #121212;
@planetary-system-visualization: #FFFFFF;


.planetarySystemVisualizationStyle {
    color: @planetary-system-visualization;

    a, h1 {
        color: @planetary-system-visualization;
    }
}


.planetMissingRadius {
    fill: @planet-text;
    font-size: .8rem;
}

.logarithmicScale {
    fill: @logarithmic-text;
    font-size: 1.5rem;
}

.planetaryAxisDescriptionWrapper {
    position: sticky;
    top: 0;
    background: @page-background;
}



.planetary-axis-description-wrapper {
    position: sticky;
    top: 0;
    background: @page-background;
    z-index: 10;
}


