// ================================
// Global Styles
// ================================

// ============================== BASE VARS ==============================
@light-bg: white;
@light-text: black;

// ============================== TABLE VARS ==============================
@fixed-rows: 1;
@fixed-columns-1: 1;
@fixed-columns-2: 2;
@missed-columns-1: @fixed-columns-1 + 1;
@missed-columns-2: @fixed-columns-2 + 1;

// ============================== SWITCH VARS ==============================
@switch-size: 2em;
@switch-width: (@switch-size * 1.8);
@thumb-size: (@switch-size * 0.8125);
@thumb-offset: (@switch-size * 0.09375);
@padding-h: (@switch-size * 0.1875);
@font-size: (@switch-size * 0.375);
@thumb-shift: (@switch-width - @thumb-size - 2 * @thumb-offset);

/* ============================== HTML & RESPONSIVE ============================== */
html {
    position: relative;
    min-height: 100%;
    font-size: 80%;
}

.divination {
    border-bottom: .1rem solid #708090;
}

// Fonts
@media (min-width: 2600px) {
    html {
        font-size: 110%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 767.9px) {
    html {
        font-size: 80%;
    }
}

/* ------------------------------ Responsive layout for mobile ------------------------------ */
@media (max-width: 576px) {
    .filter-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25rem;
    }

    .label {
        width: 100%;
        min-width: unset;
    }

    .filter-fields {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        input[type="text"] {
            flex: 1 1 45%;
            min-width: 80px;
        }
    }
}

/* ============================== MIN/MAX WIDTH STYLE ============================== */
.objectsFiltersCol6BlockL {
    max-width: 50rem;
}

.objectsFiltersCol6BlockR {
    max-width: 50rem;
}

.minWidth5rem {
    min-width: 5rem;
}

.minWidth4rem {
    min-width: 4rem !important;
}

.width5rem {
    width: 5rem;
}

.width4rem {
    width: 4rem !important;
}

/* ============================== BUTTONS ============================== */
.btn,
.btn:focus,
.btn:active,
.btn:hover,
.btn:visited,
.btn:focus-visible {
    box-shadow: none !important;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.marginButton {
    margin-top: .1rem !important;

    button {
        margin: 0.5rem
    }
}

/* ============================== SWITCH ============================== */
.switchButton {
    position: relative;
    display: inline-block;
    width: @switch-width;
    height: @switch-size;
    font-size: @font-size;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 999em;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 @padding-h;
    font-weight: bold;
    color: white;
    font-family: sans-serif;

    &::before {
        content: "";
        position: absolute;
        height: @thumb-size;
        width: @thumb-size;
        left: @thumb-offset;
        top: @thumb-offset;
        border-radius: 50%;
        transition: transform 0.1s, background-color 0.1s;
        box-shadow: 0 (@switch-size * 0.03125) (@switch-size * 0.09375) rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
}

input:checked + .slider::before {
    transform: translateX(@thumb-shift);
    transition: background-color 0.1s;
}


.text-on,
.text-off {
    z-index: 0;
    width: 50%;
    text-align: center;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.2s;
    color: red;
}

.text-on {
    margin-left: .4em;
}

input {
    &:checked + .slider {
        .text-on {
            opacity: 1;
        }

        .text-off {
            opacity: 0;
        }
    }

    &:not(:checked) + .slider {
        .text-on {
            opacity: 0;
        }

        .text-off {
            opacity: 1;
        }
    }
}

/* ============================== IDENTITY ============================== */
.identityLogoStyle {
    max-height: 2.5rem;
}

a.identityBlockStyle {
    padding: 0;
}

/* ============================== FORMS ============================== */
.form-floating {
    > .form-control-plaintext::placeholder,
    > .form-control::placeholder {
        color: var(--bs-secondary-color);
        text-align: end;
    }

    > .form-control-plaintext:focus::placeholder,
    > .form-control:focus::placeholder {
        text-align: start;
    }
}

.disabled-opacity {
    opacity: 0.5;
    pointer-events: none;
}

.form-select.RowOnPageCatal {
    max-width: 5rem;
}

/* ============================== FILTERS ============================== */
.fieldsCheckboks span {
    white-space: nowrap;

    span {
        white-space: normal;
    }
}

#sizeFilterTable {
    min-height: 20rem !Important;
}

// --- NGCICOpendatasofts ---
.filter-grid {
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
}

.nGCICObjectPropertyBlock {
    max-width: 90rem;
}

.filter-row {
    display: contents; 
}

/* ------------------------------ Constellation Selection ------------------------------ */
table.constellationSelectTable thead {
    z-index: 1;
}

#constellationSelect {
    max-width: 38rem;
}

.constellationSelectCollCat,
.constellationSelectNGCIC {
    height: 10rem;
}

.constellationSelectTableWindow {
    width: 44rem;
    max-height: 20rem;
    overflow-y: auto;
}

.constellationSelectTable {
    font-family: 'JetBrains Mono', monospace;
}

.nameConstellationFilterBlock {
    min-width: 40rem;
}

.constellationFilterBlock {
    width: 40rem;
}

.selectConstelCollCatBtn {
    max-width: 44rem !important;
}

/* ============================== TABLE ============================== */
table {
    border-collapse: collapse; 
    border-spacing: 0;

    thead {
        tr.tr-oun-style th {
            padding-top: 1em !important;
            padding-bottom: 1em !important;
        }

        tr th {
            padding: .5em;
        }
    }

    tbody {
        tr td {
            padding-left: .5em !important;
        }

        tr.thickTopBorder {
            border-top: .16rem solid;
        }
    }
}

/* ------------------------------ Vertical scrolling ------------------------------ */
.table-fixed-headers {
    position: relative;
    display: block;
    top: 0;
    z-index: 1013; // values of 1060 and above will overlap the showAlert() function window!
}

.toFixLayoutHeader {
    position: sticky;
    top: 0;
    z-index: 1014; // values of 1060 and above will overlap the showAlert() function window!
}

.table-sticky(@columns, @missed-columns) {
    table.table-toFixRows-1.table-toFixColumns-@{columns} thead tr th:nth-child(n+@{missed-columns}) {
        white-space: nowrap;
        position: sticky;
        top: 0;
        z-index: 1004;
    }
}

.table-sticky(1, @missed-columns-1); 
.table-sticky(2, @missed-columns-2); 

/* ------------------------------ Horizontal scrolling ------------------------------ */
.table-fix-columns(@n, @fixed-columns) {
    table.table-toFixColumns-@{n} tbody tr td:nth-child(-n+@{fixed-columns}),
    table.table-toFixColumns-@{n} thead tr th:nth-child(-n+@{fixed-columns}) {
        position: sticky;
        z-index: 1005;
    }
    table.table-toFixColumns-@{n} thead tr th:nth-child(-n+@{fixed-columns}) {
        position: sticky;
        top: 0;
        z-index: 1006;
    }
}

.table-fix-columns(1, @fixed-columns-1); 
.table-fix-columns(2, @fixed-columns-2); 

/* Fixing columns and their width */
.table-fixed-columns(@class, @fixed-columns, @missed-columns) {
    table.@{class} {
        tbody tr td:nth-child(-n+@{fixed-columns}), 
        thead tr th:nth-child(-n+@{fixed-columns}) { 
            white-space: nowrap;
            min-width: 4em;
        }

        tbody tr td:nth-last-child(-n+@{fixed-columns}), 
        thead tr th:nth-last-child(-n+@{fixed-columns}) { 
            white-space: nowrap;
        }

        &.setColumnWidth {
            tbody tr td:nth-child(n+@{missed-columns}):not(:nth-last-child(-n + 2)), 
            thead tr th:nth-child(n+@{missed-columns}):not(:nth-last-child(-n + 2)) { 
                white-space: nowrap; 
                min-width: 5em;
                max-width: 11em; 
                overflow: hidden; 
                text-overflow: ellipsis; 
            }
        }
        
        tbody tr td:nth-child(n+@{missed-columns}):not(:nth-last-child(-n + 2)),
        thead tr th:nth-child(n+@{missed-columns}):not(:nth-last-child(-n + 2)) {
            white-space: nowrap; 
            min-width: 5em;
            overflow: hidden; 
            text-overflow: ellipsis; 
        }
    }
}

.table-fixed-columns(table-toFixColumns-1, @fixed-columns-1, @missed-columns-1);
.table-fixed-columns(table-toFixColumns-2, @fixed-columns-2, @missed-columns-2);

/* ------------------------------ Responsive columns ------------------------------ */
.responsiveColumnsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.responsive-column {
    flex: 1;
    min-width: 320px;
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem;
}

/* ------------------------------ Admin page style ------------------------------ */
.widthUsersClaimColum {
    max-width: 20em;
}

/* ============================== GLOBAL SPINNER ============================== */
#global-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#global-spinner {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    background-color: transparent;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ============================== ANIMATIONS ============================== */
.fade-column {
    transition: opacity 0.4s ease, width 0.4s ease, transform 0.4s ease;
    transform: translateX(0);
    overflow: hidden;
    opacity: 1;
    width: auto;
    white-space: nowrap;

    &.hidden-column {
        opacity: 0;
        width: 0 !important;
        transform: translateX(-20px);
        pointer-events: none;
    }
}

.allTopMenuFilters,
.hiddenBlock {
    transition: opacity 0.8s ease, max-height 0.8s ease, transform 0.8s ease;
    transform: translateY(0);
    overflow: hidden;
    opacity: 1;

    &.collapsed {
        transform: translateY(-15px); 
        max-height: 0;
        opacity: 0;
    }
}

.hiddenBlockContent {
    > * {
        transition: opacity 0.8s ease, max-height 0.8s ease, transform 0.8s ease;
        transform: translateY(0);
        opacity: 1;
    }

    &.collapsed > * {
        transform: translateY(-15px);
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

/* ============================== PAGINATION ============================== */
.paginationBodyBlock {
    border: .2rem solid gray;
    border-radius: .4rem;
    margin-bottom: .5rem;
    min-height: 3rem;
    max-height: 7rem;
    overflow-x: auto;
    -webkit-user-select: none;
}

.callStyle {
    font: bold 1.5rem Arial;
    padding: .5rem 0 .5rem .5rem;
    margin-top: -.2rem;
}

.borderBlock {
    font: bold 1.7rem Calibry;
    padding-left: .4rem;
}

.paginationCell {
    cursor: pointer;
    transition: background-color 0.2s, padding 0.2s;

    &:hover {
        border-radius: 0.3rem;
        background-color: rgba(128,128,128,0.3);
    }
}
