<div>
    <div data-header="rowid" title="">Row ID</div>
    <div data-header="pl_name_display" title="Planet name most commonly used in the literature">Planet Name</div>
    <div data-header="hostname" title="Stellar name most commonly used in the literature">Host Name</div>
    <div data-header="pl_letter" title="Letter assigned to the planetary component of a planetary system">Planet Letter</div>
    <div data-header="hd_name" title="Name of the star as given by the Henry Draper Catalog">HD ID</div>
    <div data-header="hip_name" title="Name of the star as given by the Hipparcos Catalog">HIP ID</div>
    <div data-header="tic_id" title="Name of the star as given by the TESS Input Catalog">TIC ID</div>
    <div data-header="gaia_id" title="Name of the star as given by the Gaia Catalog">GAIA ID</div>
    <div data-header="default_flag" title="Boolean flag indicating whether given set of planet parameters has been selected as default (1=yes, 0=no)">Default Parameter Set</div>
    <div data-header="sy_snum" title="Number of gravitationally bound stars in the planetary system">Number of Stars</div>
    <div data-header="sy_pnum" title="Number of confirmed planets in the planetary system">Number of Planets</div>
    <div data-header="sy_mnum" title="Number of moons in the planetary system">Number of Moons</div>
    <div data-header="cb_flag" title="Flag indicating whether the planet orbits a binary system (1=yes, 0=no)">Circumbinary Flag</div>
    <div data-header="discoverymethod" title="Method by which the planet was first identified">Discovery Method</div>
    <div data-header="disc_year" title="Year the planet was discovered ">Discovery Year</div>
    <div data-header="disc_refname" title="Reference name for discovery publication ">Discovery Reference</div>
    <div data-header="disc_pubdate" title="Publication Date of the planet discovery referee publication ">Discovery Publication Date</div>
    <div data-header="disc_locale" title="Location of observation of planet discovery (Ground or Space) ">Discovery Locale</div>
    <div data-header="disc_facility" title="Name of facility of planet discovery observations ">Discovery Facility</div>
    <div data-header="disc_telescope" title="Name of telescope of planet discovery observations ">Discovery Telescope</div>
    <div data-header="disc_instrument" title="Name of instrument of planet discovery observations ">Discovery Instrument</div>
    <div data-header="rv_flag" title="Flag indicating if the planet host star exhibits radial velocity variations due to the planet (1=yes, 0=no) ">Detected by Radial Velocity Variations</div>
    <div data-header="pul_flag" title="Boolean flag indicating if the planet host star exhibits pulsar timing variations due to the planet (1=yes, 0=no)">Detected by Pulsar Timing Variations</div>
    <div data-header="ptv_flag" title="Boolean flag indicating if the planet host star exhibits pulsation timing variations due to the planet (1=yes, 0=no)">Detected by Pulsation Timing Variations</div>
    <div data-header="tran_flag" title="Flag indicating if the planet transits its host star (1=yes, 0=no)">Detected by Transits</div>
    <div data-header="ast_flag" title="Flag indicating if the planet host star exhibits astrometrical variations due to the planet (1=yes, 0=no) ">Detected by Astrometric Variations</div>
    <div data-header="obm_flag" title="Flag indicating whether the planet exhibits orbital modulations on the phase curve (1=yes, 0=no) ">Detected by Orbital Brightness Modulations</div>
    <div data-header="micro_flag" title="Boolean flag indicating if the planetary system acted as a lens during an observed microlensing event (1=yes, 0=no) ">Detected by Microlensing</div>
    <div data-header="etv_flag" title="Flag indicating whether a circumbinary planet that orbits an eclipsing binary induces eclipse timing variations (ETVs) in the binary pair (1=yes, 0=no) ">Detected by Eclipse Timing Variations</div>
    <div data-header="ima_flag" title="Flag indicating if the planet has been observed via imaging techniques (1=yes, 0=no) ">Detected by Imaging</div>
    <div data-header="dkin_flag" title="Boolean flag indicating if the presence of the planet was inferred due to its kinematic influence on the protoplanetary disk of its host star (1=yes, 0=no)">Detected by Disk Kinematics</div>
    <div data-header="soltype" title="Disposition of planet according to given planet parameter set">Solution Type</div>
    <div data-header="pl_controv_flag" title="Flag indicating whether the confirmation status of a planet has been questioned in the published literature (1=yes, 0=no) ">Controversial Flag</div>
    <div data-header="pl_refname" title="Reference of publication used for given planet parameter set ">Planetary Parameter Reference</div>
    <div data-header="pl_orbperstr" title="">Orbital Period [days]</div>
    <div data-header="pl_orbsmaxstr" title="The longest radius of an elliptic orbit, or, for exoplanets detected via gravitational microlensing or direct imaging, the projected separation in the plane of the sky">Orbit Semi-Major Axis [au]</div>
    <div data-header="pl_radestr" title=" Length of a line segment from the center of the planet to its surface, measured in units of radius of the Earth">Planet Radius [Earth Radius]</div>
    <div data-header="pl_radjstr" title="Length of a line segment from the center of the planet to its surface, measured in units of radius of Jupiter">Planet Radius [Jupiter Radius]</div>
    <div data-header="pl_massestr" title="Amount of matter contained in the planet, measured in units of masses of the Earth">Planet Mass [Earth Mass]</div>
    <div data-header="pl_massjstr" title="Amount of matter contained in the planet, measured in units of masses of Jupiter">Planet Mass [Jupiter Mass]</div>
    <div data-header="pl_msiniestr" title="Minimum mass of a planet as measured by radial velocity, measured in units of masses of the Earth">Planet Mass*sin(i) [Earth Mass]</div>
    <div data-header="pl_msinijstr" title="Minimum mass of a planet as measured by radial velocity, measured in units of masses of Jupiter">Planet Mass*sin(i) [Jupiter Mass]</div>
    <div data-header="pl_cmassestr" title="A calculated quantity indicating the quotient of the lower limit of the measured planet mass, denoted as its mass times the sine of its inclination, and the sine of its inclination, measured in units of the mass of the Earth. This is specified for references in which the inclination is provided as well as the planet mass limit, but the true mass is not reported. ">Planet Mass*sin(i)/sin(i) [Earth Mass]</div>
    <div data-header="pl_cmassjstr" title="A calculated quantity indicating the quotient of the lower limit of the measured planet mass, denoted as its mass times the sine of its inclination, and the sine of its inclination, measured in units of the mass of Jupiter. This is specified for references in which the inclination is provided as well as the planet mass limit, but the true mass is not reported. ">Planet Mass*sin(i)/sin(i) [Jupiter Mass]</div>
    <div data-header="pl_bmassestr" title="Best planet mass estimate available, in order of preference: Mass, M*sin(i)/sin(i), or M*sin(i), depending on availability, and measured in Earth masses">Planet Mass or Mass*sin(i) [Earth Mass]</div>
    <div data-header="pl_bmassjstr" title="Best planet mass estimate available, in order of preference: Mass, M*sin(i)/sin(i), or M*sin(i), depending on availability, and measured in Jupiter masses">Planet Mass or Mass*sin(i) [Jupiter Mass]</div>
    <div data-header="pl_bmassprov" title="Provenance of the measurement of the best mass. Options are: Mass, M*sin(i)/sin(i), and M*sini">Planet Mass or Mass*sin(i) Provenance</div>
    <div data-header="pl_densstr" title="Amount of mass per unit of volume of the planet">Planet Density [g/cm**3]</div>
    <div data-header="pl_orbeccenstr" title="Amount by which the orbit of the planet deviates from a perfect circle">Eccentricity</div>
    <div data-header="pl_insolstr" title="Insolation flux is another way to give the equilibrium temperature. It's given in units relative to those measured for the Earth from the Sun.">Insolation Flux [Earth Flux]</div>
    <div data-header="pl_eqtstr" title="The equilibrium temperature of the planet as modeled by a black body heated only by its host star, or for directly imaged planets, the effective temperature of the planet required to match the measured luminosity if the planet were a black body">Equilibrium Temperature [K]</div>
    <div data-header="pl_orbinclstr" title="Angle of the plane of the orbit relative to the plane perpendicular to the line-of-sight from Earth to the object ">Inclination [deg]</div>
    <div data-header="pl_tranmidstr" title="The time given by the average of the time the planet begins to cross the stellar limb and the time the planet finishes crossing the stellar limb. ">Time of Conjunction (Transit Midpoint) [days]</div>
    <div data-header="pl_tsystemref" title="Time system basis for temporal and orbital parameters">Time Reference Frame and Standard</div>
    <div data-header="ttv_flag" title="Flag indicating if the planet orbit exhibits transit timing variations from another planet in the system (1=yes, 0=no). Note: Non-transiting planets discovered via the transit timing variations of another planet in the system will not have their TTV flag set, since they do not themselves demonstrate TTVs.">Data show Transit Timing Variations</div>
    <div data-header="pl_impparstr" title="The sky-projected distance between the center of the stellar disc and the center of the planet disc at conjunction, normalized by the stellar radius ">Impact Parameter</div>
    <div data-header="pl_trandepstr" title="The size of the relative flux decrement caused by the orbiting body transiting in front of the star ">Transit Depth [%]</div>
    <div data-header="pl_trandurstr" title="The length of time from the moment the planet begins to cross the stellar limb to the moment the planet finishes crossing the stellar limb">Transit Duration [hours]</div>
    <div data-header="pl_ratdorstr" title="The distance between the planet and the star at mid-transit divided by the stellar radius. For the case of zero orbital eccentricity, the distance at mid-transit is the semi-major axis of the planetary orbit. ">Ratio of Semi-Major Axis to Stellar Radius</div>
    <div data-header="pl_ratrorstr" title="The planet radius divided by the stellar radius ">Ratio of Planet to Stellar Radius</div>
    <div data-header="pl_occdepstr" title="Depth of occultation of secondary eclipse ">Occultation Depth [%]</div>
    <div data-header="pl_orbtperstr" title="The time of the planet's periastron passage">Epoch of Periastron [days]</div>
    <div data-header="pl_orblperstr" title="The angular separation between the orbit's ascending node and periastron. Note: there are a varying conventions in the exoplanet literature regarding argument of periastron (or periapsis). For example, some publications refer the planet's orbit, others to the host star's reflex orbit, which differs by 180 deg. The values in the Exoplanet Archive are not corrected to a standardized system, but are as-reported for each publication.">Argument of Periastron [deg]</div>
    <div data-header="pl_rvampstr" title="Half the peak-to-peak amplitude of variability in the stellar radial velocity ">Radial Velocity Amplitude [m/s]</div>
    <div data-header="pl_projobliqstr" title="The angle between the angular momentum vector of the rotation of the host star and the angular momentum vector of the orbit of the planet, projected into the plane of the sky. Depending on the choice of coordinate system, projected obliquity is represented in the literature as either lambda (λ) or beta (β), where λ is defined as the negative of β (i.e.,  λ = -β). Since λ is reported more often than β, all values of β have been converted to λ.">Projected Obliquity [deg]</div>
    <div data-header="pl_trueobliqstr" title="The angle between the angular momentum vector of the rotation of the host star and the angular momentum vector of the orbit of the planet ">True Obliquity [deg]</div>
    <div data-header="st_refname" title="Reference of publication used for given stellar parameter set ">Stellar Parameter Reference</div>
    <div data-header="st_spectype" title="Classification of the star based on their spectral characteristics following the Morgan-Keenan system">Spectral Type</div>
    <div data-header="st_teffstr" title="Temperature of the star as modeled by a black body emitting the same total amount of electromagnetic radiation">Stellar Effective Temperature [K]</div>
    <div data-header="st_radstr" title="Length of a line segment from the center of the star to its surface, measured in units of radius of the Sun">Stellar Radius [Solar Radius]</div>
    <div data-header="st_massstr" title="Amount of matter contained in the star, measured in units of masses of the Sun">Stellar Mass [Solar mass]</div>
    <div data-header="st_metstr" title="Measurement of the metal content of the photosphere of the star as compared to the hydrogen content">Stellar Metallicity [dex]</div>
    <div data-header="st_metratio" title="Ratio for the Metallicity Value ([Fe/H] denotes iron abundance, [M/H] refers to a general metal content) ">Stellar Metallicity Ratio</div>
    <div data-header="st_lumstr" title="Amount of energy emitted by a star per unit time, measured in units of solar luminosities">Stellar Luminosity [log(Solar)]</div>
    <div data-header="st_loggstr" title="Gravitational acceleration experienced at the stellar surface ">Stellar Surface Gravity [log10(cm/s**2)]</div>
    <div data-header="st_agestr" title="The age of the host star">Stellar Age [Gyr]</div>
    <div data-header="st_densstr" title="Amount of mass per unit of volume of the star">Stellar Density [g/cm**3]</div>
    <div data-header="st_vsinstr" title="Rotational velocity at the equator of the star multiplied by the sine of the inclination ">Stellar Rotational Velocity [km/s]</div>
    <div data-header="st_rotpstr" title="The time required for the planet host star to complete one rotation, assuming it is a solid body ">Stellar Rotational Period [days]</div>
    <div data-header="st_radvstr" title="Velocity of the star in the direction of the line of sight">Systemic Radial Velocity [km/s]</div>
    <div data-header="sy_refname" title="Reference of publication used for given system parameter set">System Parameter Reference</div>
    <div data-header="rastr" title="Right Ascension of the planetary system in sexagesimal format">RA [sexagesimal]</div>
    <div data-header="decstr" title="Declination of the planetary system in sexagesimal notation">Dec [sexagesimal]</div>
    <div data-header="ra" title="Right Ascension of the planetary system in decimal degrees">RA [deg]</div>
    <div data-header="dec" title="Declination of the planetary system in decimal degrees">Dec [deg]</div>
    <div data-header="glat" title="Galactic latitude of the planetary system in units of decimal degrees">Galactic Latitude [deg]</div>
    <div data-header="glon" title="Galactic longitude of the planetary system in units of decimal degrees">Galactic Longitude [deg]</div>
    <div data-header="elat" title="Ecliptic latitude of the planetary system in units of decimal degrees">Ecliptic Latitude [deg]</div>
    <div data-header="elon" title="Ecliptic longitude of the planetary system in units of decimal degrees">Ecliptic Longitude [deg]</div>
    <div data-header="sy_pmstr" title="Angular change in position over time as seen from the center of mass of the Solar System">Total Proper Motion [mas/yr]</div>
    <div data-header="sy_pmrastr" title="Angular change in right ascension over time as seen from the center of mass of the Solar System ">Proper Motion (RA) [mas/yr]</div>
    <div data-header="sy_pmdecstr" title="Angular change in declination over time as seen from the center of mass of the Solar System ">Proper Motion (Dec) [mas/yr]</div>
    <div data-header="sy_diststr" title="Distance to the planetary system in units of parsecs">Distance [pc]</div>
    <div data-header="sy_plxstr" title="Difference in the angular position of a star as measured at two opposite positions within the Earth's orbit ">Parallax [mas]</div>
    <div data-header="sy_bmagstr" title="Brightness of the host star as measured using the B (Johnson) band in units of magnitudes">B (Johnson) Magnitude</div>
    <div data-header="sy_vmagstr" title="Brightness of the host star as measured using the V (Johnson) band in units of magnitudes ">V (Johnson) Magnitude</div>
    <div data-header="sy_jmagstr" title="Brightness of the host star as measured using the J (2MASS) band in units of magnitudes">J (2MASS) Magnitude</div>
    <div data-header="sy_hmagstr" title="Brightness of the host star as measured using the H (2MASS) band in units of magnitudes ">H (2MASS) Magnitude</div>
    <div data-header="sy_kmagstr" title="Brightness of the host star as measured using the K (2MASS) band in units of magnitudes ">Ks (2MASS) Magnitude</div>
    <div data-header="sy_umagstr" title="Brightness of the host star as measured using the Sloan Digital Sky Survey (SDSS) u band, in units of magnitudes ">u (Sloan) Magnitude</div>
    <div data-header="sy_gmagstr" title="Brightness of the host star as measured using the Sloan Digital Sky Survey (SDSS) g band, in units of magnitudes ">g (Sloan) Magnitude</div>
    <div data-header="sy_rmagstr" title="Brightness of the host star as measured using the Sloan Digital Sky Survey (SDSS) r band, in units of magnitudes ">r (Sloan) Magnitude</div>
    <div data-header="sy_imagstr" title="Brightness of the host star as measured using the Sloan Digital Sky Survey (SDSS) i band, in units of magnitudes ">i (Sloan) Magnitude</div>
    <div data-header="sy_zmagstr" title="Brightness of the host star as measured using the Sloan Digital Sky Survey (SDSS) z band, in units of magnitudes ">z (Sloan) Magnitude</div>
    <div data-header="sy_w1magstr" title="Brightness of the host star as measured using the 3.4um (WISE) band in units of magnitudes. ">W1 (WISE) Magnitude</div>
    <div data-header="sy_w2magstr" title="Brightness of the host star as measured using the 4.6um (WISE) band in units of magnitudes. ">W2 (WISE) Magnitude</div>
    <div data-header="sy_w3magstr" title="Brightness of the host star as measured using the 12.um (WISE) band in units of magnitudes ">W3 (WISE) Magnitude</div>
    <div data-header="sy_w4magstr" title="Brightness of the host star as measured using the 22.um (WISE) band in units of magnitudes ">W4 (WISE) Magnitude</div>
    <div data-header="sy_gaiamagstr" title="Brightness of the host star as measuring using the Gaia band in units of magnitudes. Objects matched to Gaia using the Hipparcos or 2MASS IDs provided in Gaia DR2. ">Gaia Magnitude</div>
    <div data-header="sy_icmagstr" title="Brightness of the host star as measured using the I (Cousins) band in units of magnitudes. ">I (Cousins) Magnitude</div>
    <div data-header="sy_tmagstr" title="Brightness of the host star as measured using the TESS bandpass, in units of magnitudes ">TESS Magnitude</div>
    <div data-header="sy_kepmagstr" title="Brightness of the host star as measured using the Kepler bandpass, in units of magnitudes ">Kepler Magnitude</div>
    <div data-header="rowupdate" title="Date of last update of the planet parameters&nbsp;">Date of Last Update</div>
    <div data-header="pl_pubdate" title="Date of the publication of the given planet parameter set &nbsp;">Planetary Parameter Reference Publication Date</div>
    <div data-header="releasedate" title="Date that the given planet parameter set was publicly released by the NASA Exoplanet Archive &nbsp;">Release Date</div>
    <div data-header="pl_nnotes" title="Number of Notes associated with the planet. View all notes in the Confirmed Planet Overview page. ">Number of Notes</div>
    <div data-header="st_nphot" title=" Number of photometric time series records, including planet transit light curves, general transit light curves, and amateur light curves.">Number of Photometry Time Series</div>
    <div data-header="st_nrvc" title="Number of literature radial velocity curves available for this star in the NASA Exoplanet Archive. ">Number of Radial Velocity Time Series</div>
    <div data-header="st_nspec" title="Number of literature spectra available for this star in the NASA Exoplanet Archive">Number of Stellar Spectra Measurements</div>
    <div data-header="pl_nespec" title="">Number of Eclipse Spectra</div>
    <div data-header="pl_ntranspec" title="Number of literature eclipse spectrum measurements for this planet in the NASA Exoplanet Archive ">Number of Transmission Spectra</div>
    <div data-header="pl_ndispec" title="">Number of Direct Imaging Spectra</div>
    <div data-header="rowlabel" title="">Row Label</div></div>

