@model IEnumerable<Astronomic_Catalogs.Models.NASAExoplanetCatalog>
@using Astronomic_Catalogs.Helpers
@using DocumentFormat.OpenXml.EMMA

<div class="planetCatalogHeader">
    <h1 class="mb-5">Exoplanets of NASA catalog.</h1>

    @if (User.IsInRole("OwnerAdministratorPower"))
    {
        <p class="my-1 mx-3">
            <a asp-action="Create">Create New</a>
        </p>

        @if (TempData["Message"] != null)
        {
            <div class="m-3 alert alert-success">@TempData["Message"]</div>
        }

        <div class="m-3 row">
            <div class="col-auto me-4 mb-4">
                <button id="importPlanetDataButton" type="button" onclick="startImport()" class="btn btn-primary">Import planet data</button>
            </div>
            <div class="col-auto">
                <button id="stopImportingPlanetDataButton" type="button" onclick="stopImport()" class="btn btn-primary" style="display:none">Stop importing planet data</button>
            </div>
        </div>

        <div class="m-3">
            <div id="progressContainer" class="progress" style="height: 2.5em; display:none;">
                <div id="importProgress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="height: 2.5em; width: 0%">0%</div>
            </div>
        </div>
    }
</div>

<div id="planetsTableContainer">
    @await Html.PartialAsync("_PlanetsTable", Model)
</div>
