@model IEnumerable<Astronomic_Catalogs.Models.Connection.ActualDate>

@{
    ViewData["Title"] = "Administrations";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Administrations</h1>

<p>
    <button type="button" class="btn btn-primary" style="margin: 0.5rem" onclick="CallStoreProcedure()" value="">
        Create New
    </button>
</p>
<div id="dataTableContainer">
    @await Html.PartialAsync("_ActualDatePartial", Model)
</div>


<button type="button" class="btn btn-primary" style="margin: 0.5rem" onclick="CallStoreProcedureADO()" value="">
    Calling the stored procedure GETACTUALDATE() via ADO.
</button>

<button type="button" class="btn btn-primary" style="margin: 0.5rem" onclick="CallStoreProcedureEF()" value="">
    Calling the stored procedure GETACTUALDATE() via EF.
</button>
