@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">First start</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<button type="button" class="btn btn-primary myClass" style="margin: 0.5rem" onclick="CallStoreProcedureADO()" value="">
    Виклик збереженої процедури GETACTUALDATE() через ADO.
</button>

<button type="button" class="btn btn-primary myClass" style="margin: 0.5rem" onclick="CallStoreProcedureEF()" value="">
    Виклик збереженої процедури GETACTUALDATE() через EF.
</button>