@{
    ViewData["Title"] = "HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

<h1>@ViewData["Title"]</h1>


<script>
    window.isAuthenticated = @isAuthenticated.ToString().ToLower();
</script>