@{
    ViewData["Title"] = "HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

<h1>@ViewData["Title"]</h1>


<div class="pt-5">
    <button id="" type="submit" class="w-100 btn btn-lg btn-primary">Just a button</button>
</div>

<div class="restrictedWrapper">
    <div class="restrictedBlock mt-5">
        <button type="submit" class="w-100 btn btn-lg btn-primary">Just a button</button>
    </div>
</div>

<script>
    window.isAuthenticated = @isAuthenticated.ToString().ToLower();
</script>